/* MOBILE FIRST && BEM */
html {
  font-size: 18px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #36465d;
}

/* MOBILE STYLING */
.main,
.footer {
  width: 90%;
  margin: 1rem auto 0 auto;
}
.footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: #0d7680;
}

.search__title {
  color: #36465d;
}

.search__subtitle {
  color: #36465d;
  margin-top: 2rem;
}

.search__instructions {
  padding-bottom: 2rem;
  border-bottom: 1px solid #0d7680;
}

.form {
  margin: 2rem auto;
}

.form__label {
  display: block;
}

#form__input {
  margin: 1rem 0;
  height: 1.5rem;
  width: 10rem;
  border: 1px solid #0d7680;
}

#form__input:focus {
  caret-color: #0d7680;
}

.weather__location {
  color: #36465d;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

#weather__locationLink {
  width: 200px;
  margin: 0 auto;
}

.weather__temperature {
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
  height: 15rem;
  width: 15rem;
  background-color: #36465d;
  border-radius: 50%;
}

.weather__details {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.weather__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  height: 10rem;
  width: 10rem;
  margin: 0 2px;
  background-color: #36465d;
  border-radius: 50%;
  text-align: center;
  flex: none;
}

.weather__image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  height: 10rem;
  width: 10rem;
  margin: 0 2px;
  background-color: #36465d;
  border-radius: 50%;
  flex: none;
}
/* TABLET STYLING */
@media only screen and (min-width: 700px) {
  .main {
    width: 70%;
    margin: 0 auto;
  }
  .footer {
    width: 70%;
  }
  .form__input {
    margin: 0.5rem auto;
    height: 1.3rem;
    width: 40%;
  }
}

/* DESKTOP STYLING */
@media only screen and (min-width: 950px) {
  .main {
    width: 50%;
    margin: 0 auto;
  }
  .footer {
    width: 50%;
  }
  .form__input {
    margin: 0.5rem auto;
    height: 1.3rem;
    width: 40%;
  }
}
