<section class="search">
  <h2 class="search__title">Choose a Location</h2>
  <form action="/weather" method="get" class="form">
    <label for="form__input" class="form__label">City</label>
    <input id="form__input" name="city" type="text" placeholder="Eg. London" />
    <button type="submit" class="o-buttons o-buttons--big" value="Search">Search</button>
  </form>
  <p class="search__instructions">To avoid getting the wrong city, try entering the city and country (eg. San Jose, CR)</p>

  <h2 class="search__subtitle">Current Location</h2>
  <p>Search the weather by allowing this page to use your current location</p>
  <a href="#" id="location" class="search__locationLink"><img src='/gps.svg' /></a>
</section>