<h2>Choose a Location</h2>
<form action="/weather" method="get">
  <label for="city">City Name</label>
  <input id="city" name="city" type="text" placeholder="Eg. London" required />
  <a href="# " class="o-buttons o-buttons--primary o-buttons-icon o-buttons-icon--arrow-right o-buttons">Search</a>
  <p>To avoid getting the wrong city, try entering the city and country (eg. San Jose, CR)</p>
</form>
<hr>
<h2>Or find weather in your current location</h2>
<a href="# " id="location">Your Location</a>
</div>