<section>
  <h2>{{weatherData.name}}, {{weatherData.sys.country}}</h2>
  <a href="/" id="newLocation">Change Location</a>
  <div>{{weatherData.main.temp}} degrees</div>
  {{!-- Accesses the 0th item in the weather array in Handlebars --}}
  <div>{{weatherData.weather.0.description}}</div>
  <div>Image</div>
</section>