<section class="weather">
  <h2 class="weather__location">{{weatherData.name}}, {{weatherData.sys.country}}</h2>
  <a href="/" id="weather__locationLink">Change Location</a>
  <div class="weather__temperature">{{weatherData.main.temp}} °C</div>
  <div class="weather__details">
    {{!-- Accesses the 0th item in the weather array in Handlebars --}}
    <div class="weather__description">{{weatherData.weather.0.description}}</div>
    <div class="weather__image">Image</div>
  </div>
</section>