<footer class="footer">
  Weather data from <a href="https://openweathermap.org/">Open Weather Map</a>.
  <br />Icons: <a href="http://weathericons.io">https://weathericons.io</a> and <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</footer>