<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons,o-tabs@^4.2.0"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-buttons,o-tabs@^4.2.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Local Weather</title>
</head>