/* MOBILE-FIRST STYLING */
html {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #222;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 2rem 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #36465d;
  margin: 0;
  padding: 0;
}
.main,
.footer {
  width: 90%;
  margin: 0 auto;
}

.footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: #0d7680;
}

.search {
  text-align: center;
}

.search__title {
  color: #36465d;
}

.search__subtitle {
  color: #36465d;
  margin-top: 2rem;
}

.search__instructions {
  padding-bottom: 2rem;
  border-bottom: 1px solid #0d7680;
}

.search__locationLink img:hover {
  background-color: #ddd;
  border-radius: 50%;
  padding: 10px;
}

.search__locationLink img {
  width: 4rem;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 50%;
}

.form {
  margin: 2rem auto;
}

#form__input {
  height: 1.5rem;
  width: 10rem;
  padding: 4px;
  border: 1px solid #0d7680;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.weather__location {
  color: #36465d;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

#weather__locationLink {
  display: block;
  text-align: center;
}

.weather__temperature {
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
  height: 15rem;
  width: 15rem;
  background-color: #36465d;
  border-radius: 50%;
  box-shadow: 1px 4px 6px 2px #aaa;
}

.weather__details {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.weather__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  height: 10rem;
  width: 10rem;
  margin: 0 2px;
  background-color: #36465d;
  border-radius: 50%;
  text-align: center;
  flex: none;
  box-shadow: 1px 4px 6px 2px #aaa;
}

.weather__image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  height: 10rem;
  width: 10rem;
  margin: 0 2px;
  background-color: #36465d;
  border-radius: 50%;
  flex: none;
  box-shadow: 1px 4px 6px 2px #aaa;
}

.weather__icon {
  filter: invert(100%);
  width: 5rem;
  height: 5rem;
}

.error__message {
  text-align: center;
  margin: 3rem 0 5rem 0;
}

.error__title {
  color: #36465d;
}

/* TABLET STYLING */
@media only screen and (min-width: 600px) {
  .main {
    width: 60%;
    margin: 0 auto;
  }
  .footer {
    width: 60%;
  }
  .form__input {
    margin: 0.5rem auto;
    height: 1.3rem;
  }
}

/* DESKTOP STYLING */
@media only screen and (min-width: 1100px) {
  .main {
    width: 50%;
    margin: 0 auto;
  }
  .footer {
    width: 50%;
  }
  .form__input {
    margin: 0.5rem auto;
    height: 1.3rem;
  }
}
