<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  <main class="main">
    <h1>Weather Forecast</h1>
    {{{ body }}}
  </main>
  {{>footer}}
  <script src="dom.js" type="module"></script>
</body>

</html>